$color__skin: #30323d;

$color__background-body: #f2f0f4; // Darkest: #f2f0f4, Lighter: #faf9fd;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #30323d;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer: #30323d;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #404040;
$color__link-visited: #404040;
$color__link-hover: #e8c547;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__button: #ffffff;
$color_footer_link: #ffffff;
$color__footer: #ffffff;

$color__facebook: #3B5998;
$color__instagram: #F00075;
$color__twitter: #00ACEE;

$color__skin: #30323d;
$color__theme-highlight: #e8c547;
$color__theme-comment-button-background: #faf9fd;
