button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: $color__theme-comment-button-background;
  display: inline-block;
  padding: .5em 1.4em;
  font-family: $font__sans;
  font-size: 97%;
  color: $color__text-main;
  line-height: 1.2em;
  text-decoration: none;
  border: #cccccc 1px solid;

  &:hover,
  &:focus {
    background: white;
    border-color: $color__theme-highlight;
  }
}